<a href="https://colab.research.google.com/github/AshleyEvonne/ACT340.3.1/blob/main/ACT_340_3_2_Advanced_String_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Excercises- Advanced

Complete the following practice excercises below to build up your skills with manipulating strings.

**Problem 1**

Create a new string with the following sentence:

“You learn more from failure than from success."
<br></br>
* Use the 1st, 4th, and last charachter to create a new string.

In [4]:
new_string = "You learn more from failure than from success."

first = new_string[0]
fourth = new_string[3]
last = new_string[-1]

new_new = first + fourth + last

print(new_new)

Y .

**Problem 2**

* Use the same string variable from above
* Use the replace() method to replace the "." with an "!"

In [6]:
new_new = new_string.replace(".", "!")

print(new_new)

You learn more from failure than from success!

**Problem 3**

*   Use the string variable below and create a new variable that has all of the charachters from the original string as lowercase charachters

In [7]:
new_str= "“WHEN YOU Change your thougHts, remember to ALSO change your world.”"

lower_str = new_str.lower()

print(lower_str)

“when you change your thoughts, remember to also change your world.”

**Problem 4**


*   Take the new_str variable from above and make all of charachters uppercase

In [8]:
upper_str = new_str.upper()

print(upper_str)

“WHEN YOU CHANGE YOUR THOUGHTS, REMEMBER TO ALSO CHANGE YOUR WORLD.”

**Problem 5**

* Use the string variable below and the startswith() method to check and see if the string starts with the charachter "Z".
* Check if it starts with the charachter "t"

In [10]:
new_str= "There are no traffic jams along the extra mile."

starts_with_z = new_str.startswith("Z")
starts_with_t = new_str.startswith("t")

print(starts_with_z)
print(starts_with_t)

False
False

**Problem 6**



*   Use the same new_str variable and the index() method to identify the index of charachter "j"

In [11]:
index_j = new_str.index("j")

print(index_j)

21

**Problem 7**

*   Use the same new_str variable
*   Use the count() method to find the number of times "t" and "o" appear in a string
* Create a print statement that has both results in one statement. You can use string concatenation, fstring, or any other way you can think of!

In [13]:
a = new_str.count("t")
b = new_str.count("o")
print("The letter 't' appears {} times and the letter 'o' appears {} times.".format(a,b))

print(f"The letter 't' appears {a} times and the letter 'o' appears {b} times.")

The letter 't' appears 3 times and the letter 'o' appears 2 times.
The letter 't' appears 3 times and the letter 'o' appears 2 times.

**Problem 8**

* Using the string below, find the length of the given string.

In [16]:
greeting= "Good Morning!"

len(greeting)

13

**Problem 9**



*   Use the string below, and documentation on string methods to find if all the charachters in a string are alpha charachters.

In [30]:
alphabet= "abcdefghijklmnopqrstuvwxyz"
alphabet.isalpha()

True

**Problem 10**

Use the string below to complete the following:


*   Use the find() method for the value "y"
*   Use the index() method for the value "y"
*  Create a comment explaining the difference between the two methods

In [37]:
learning= "Learning is fun!"

learning.find("y")

-1

# Problem 11

Use the string below to count the number of times each charachter appears in a string.

In [50]:
from collections import Counter
count_string= "Twinkle twinkle little star, how I wonder what you are"

char_count = Counter(count_string)

# for char, count in char_count.items():
#   print(f"'{char}': '{count}'")